
<!--
Here we are going to describe the functioning of the applications department
-->
<!--
Here we have a row
-->
<div class="column">
  <div class="row flex content">
    <div class="column">
      <!--
      So here we need to add the applications description that is being described
      -->
      <p class="subtitle">
        A quick description
      </p>
      <p class="description">
        We're IT Technicians, and one of the things that we do, is software development. Essentially speaking we solve real
        life problems using code structures. Ignitive Labs has built multiple platforms that even other developers use to this
        day.
      </p>

      <app-button class="button">more...</app-button>
    </div>
    <!--
    Here we will display transitionally a panel that will show a set of images and icons that relate to application
    development...
    -->
    <div>

    </div>
  </div>

</div>
