<!--
  So to begin with this page properly we will need to have a menu bar on top of the page first, so lets start there
-->
<app-navigation [items]="['work', 'projects', 'about', 'contact']"></app-navigation>

<!--
Here we are going to be adding introduction content to allow me to introduce myself and depict what am about
-->
<app-pager></app-pager>
<app-sidebar></app-sidebar>

<app-slider>
  <app-greeting></app-greeting>
  <app-application></app-application>
</app-slider>
<!--
We now need to work on a component that will allow us to create detail that follows the users cursor...
we want the users to be able to view images or media content through a sort of looking glass concept...
-->
